header{
    width: 100%;
    height: fit-content;
    background-color: rgb(82, 82, 82);
    font-size: 1.5em;
    font-weight: 600;
}

.container-header{
    padding: 0 20px;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}